
.articleviewer_middlearea{
    background: #FFF;
    min-height: 100%;
}
.articleviewer_title{
    font-size: 46px;
    font-family: 'Noto Serif SC',serif;
    font-weight: 900;
    color:#de6969;
}
.articleviewer_golist{
    font-size:16px;
    color:#AAA;
    text-underline-position: under;
    margin-bottom: 70px;
    display: inline-block;
}
.articleviewer_split{
    border-bottom: 1px solid #CCC;
    margin-bottom:30px;
}
.articleviewer_metainfo{
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    font-size:14px;
    display:flex;
    color:#a05050;
    font-family: monospace;
}
.articleviewer_content{
    padding:10px;
    color:#000;
    overflow-x: hidden;
}

.articleviewer_metainfo_item{
    display:flex;
    align-items: center;
    margin-right:10px;
}
.articleviewer_container{
    background:#556;
    color:#000;
    height:100%;
    width:100%;
}
.articleviewer_metainfo_item svg{
    margin:3px;
}


.articleviewer_header{
    padding:5px 10px;
}

@media screen and (max-width:800px){
    .articleviewer_title{
        font-size: 30px;
    }
  }