.markdown-body{
    font-family: sans-serif;
    color:rgb(51,51,51);
}
.markdown-body img{
    box-shadow: 0 2px 0.5rem rgb(0 0 0 / 12%);
    margin:0 auto;
    display: block;
    padding:5px;
    background: #FFF;
    max-width: 80%;
    box-sizing: border-box;
    max-height: 600px;
}
.markdown-body figure{
    width:fit-content;
    margin:0 auto;
    padding-bottom:10px;
    padding-top:10px;
    
}
.markdown-body figcaption{
    font-size:14px;
    color:#666;
    text-align: center;
    padding-top:8px;
    padding-bottom:5px;
    
}
.markdown-body blockquote{
    padding: 1px 1rem;
    background-color: rgb(250,245,245);
    margin: 10px 0px;
    box-shadow: 0 0px 1px #000;
}

.markdown-body pre{
    background-color:#222;
    border-radius: 3px;
    padding: 8px;
}

.markdown-body hr{
    height: 1px;
    border: 0;
    background: #EEE;
    margin: 20px 0px;
}
.markdown-body code{
    background: #222;
    padding: 3px 6px;
    border-radius: 5px;
    color: #FFF;
    margin:3px;
}
.markdown-body h2{
    font-weight: 100;
    font-size: 35px;
    color:#000;
    border-bottom: 1px solid #EEE;
    margin-top: 34px;
    margin-bottom: 16px;
    font-family: 'sans-serif';
}
.markdown-body h3{
    color:#222;
    margin-bottom: 12px;
}
.markdown-body p{
    line-height: 1.5rem;
}
.markdown-body strong{
    color:#222;
}


.markdown-short-body img{
    margin:0;
    max-height: 300px;
}
.markdown-short-body figure{
    margin:0;
}
.markdown-short-body figcaption{
    display: none;    
}
.markdown-short-body strong{
    color:#555;
}

@media screen and (max-width:800px) {
    .markdown-body h2{
        font-size: 28px;
    }
}