.markdown-body{
    font-family: sans-serif;
}
.markdown-body img{
    box-shadow: 0 2px 0.5rem rgb(0 0 0 / 12%);
    margin:0 auto;
    display: block;
    padding:5px;
    background: #FFF;
    max-width: 80%;
    box-sizing: border-box;
    max-height: 600px;
}
.markdown-body figure{
    width:fit-content;
    margin:0 auto;
    padding-bottom:10px;
    padding-top:10px;
    
}
.markdown-body figcaption{
    font-size:14px;
    color:#666;
    text-align: center;
    padding-top:8px;
    padding-bottom:5px;
    
}
.markdown-short-body img{
    margin:0;
    max-height: 300px;
}
.markdown-short-body figure{
    margin:0;
}
.markdown-short-body figcaption{
    display: none;    
}
.markdown-body blockquote{
    padding: 1px 1rem;
    border-left: 4px solid;
    background-color: #fff;
    margin: 10px 0px;
    border-left-color: #de5d5d;
    box-shadow: 0px 1px 1px #ccc
}

.markdown-body pre{
    background-color:#000 !important;
}

.markdown-body hr{
    border-color: #f8d2c4;
}
.markdown-body code{
    background: black;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    margin:3px;
}
.markdown-body h2{
    font-weight: 100;
    font-size: 28px;
    color:#de6969;
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    font-family: 'sans-serif';
}
.markdown-body p{
    line-height: 1.5rem;
}
