.blogeditor_prop{
    height:20px;
    line-height: 20px;
}
.blogeditor_prefix{

    margin-top:20px;
    max-width:500px;
    font-size:24px;
    font-weight:100;
    margin-bottom: 10px;
    margin-left: -10px;
    letter-spacing: 2px;
    color:#FFF;

}
.blogeditor{
    padding-top:20px;
    height:100%;
    width:100%;
}
.blogeditor_input{
    max-width:500px;
    width:100%;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
    height: 50px;
    box-sizing: border-box;
}
.blogeditor_image_file_selector{
    display: none;
}
.blogeditor_img_upload_button{
    width:100px;
    height:50px;
    font-size: 16px;
}

.blogeditor_content_ace{
    margin-top: 20px;
}
.blogeditor_container{
    height:100%;
    overflow-y:auto;
}
.blogeditor_middlearea{
    max-width:1000px;
}