.articlelist_container{
    background:#556;
    min-height:100%
}
.articlelist{
    padding-top:30px;
    min-height:600px;
}
.articlelist_item_title{
    font-family: 'Songti SC','Noto Serif SC',STZhongsong,STKaiti,KaiTi,Roboto,serif;
    font-size: 40px;
    display: inline-block;
    color: #ec6e6e;
    text-decoration: none;
    font-weight: 900;
    box-sizing: border-box;
    border-bottom: 1px solid #FFF;
}
.articlelist_item_title:hover{
    border-bottom: 1px dashed;
}
.articlelist_item_metadata{
    display: flex;
    font-family: monospace;
    letter-spacing: 1px;
    text-align: center;
    color:#DDD;
    margin-top:15px;
    font-size:13px;
}
.articlelist_item_top{
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    border-bottom: 1px solid #EEE;

}
.articlelist_item_header{
    position: relative;
}
.articlelist_item_id{
    position: absolute;
    color: #999;
    left: -25px;
    width: 25px;
}
.articlelist_item_shortbody{
    margin: 20px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color:#555;
}
.articlelist_item{
    margin-top:20px;
    margin-bottom:50px;
    background:#FFF;
    padding:10px;
    box-shadow: 0 0 1px #eee;
    border-radius: 3px;
}
.pageselector_item{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    font-weight: 900;
    border: 1px solid #555;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color:inherit;
    margin:10px;
    background: #a0a0c5;
}
.pageselector_item:hover{
    background: #a6a6ce;
}

.pageselector{
    display:flex;
    justify-content: center;
    color:#FFF;
    margin-top:30px;
}
.articlelist_item_category{
    padding-left: 5px;
    padding-right: 5px;
    color:#191970;
    font-weight: 900;
    margin-right:5px;
}
.articlelist_item_createdTime{
    color:#576f3c;
    font-weight: 900;
}

@media screen and (max-width:800px){
    .articlelist_item_title{
        font-size: 30px;
    }
    .articlelist{
        padding-top:10px;
    }
    .articlelist_item{
        margin-bottom:0px;
        border-radius:0px;
    }
    .articlelist_middlearea{
        padding: 0px;
    }
    .articlelist_container{
        background: #FFF;
    }
    .pageselector_item:hover{
        background: #EEE;
    }
    .pageselector{
        color:#555;
    }
    .pageselector_item{
        border:0;
        background: #DDD;
    }
    .articlelist_item_top{
        padding-left:10px;
        padding-right:10px;
    }
    .articlelist_item_shortbody{
        padding-top: 3px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0;
        margin-left: 12px;
        margin-right: 12px;
        font-size: 14px;
    }
    .articlelist_item_category{
        padding-left: 0px;
        padding-right: 0px;
    }
    .articlelist_item_id{
        display:none;
    }
    
  }