.articlelist_container::-webkit-scrollbar{
    width:14px;
}

.articlelist_container::-webkit-scrollbar-thumb{
    background-color: #777;
}
.articlelist_container::-webkit-scrollbar-thumb:hover{
    background-color: #999;
}

.articlelist_container::-webkit-scrollbar-track{
    background-color:#333;
    transition: all 1s;
}

.articlelist_container{
    background:url(https://cdn.jsdelivr.net/gh/zhymc/wyatt-blog/static/background/miyazaki_1.jpg);
    background-position: center;
    background-size: cover;
    height:100%;
    overflow-y:auto;
    
}
.articlelist{
    padding-top:30px;
    min-height:100%;
}
.articlelist_item_title{
    font-family: 'Noto Serif SC';
    font-size: 32px;
    display: inline-block;
    color: #ec6e6e;
    text-decoration: none;
    font-weight: 900;
    box-sizing: border-box;
    border-bottom: 1px solid #FFF;
}
.articlelist_item_title:hover{
    border-bottom: 1px dashed;
}
.articlelist_item_metadata{
    display: flex;
    letter-spacing: 1px;
    text-align: center;
    color: #7d6e6b;
    margin-top: 13px;
    font-size: 13px;
    margin-bottom: 3px;
}
.articlelist_item_top{
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    border-bottom: 1px solid #DDD;

}
.articlelist_item_header{
    position: relative;
}
.articlelist_item_id{
    position: absolute;
    color: #999;
    left: -25px;
    width: 25px;
}
.articlelist_item_shortbody{
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
    color:#555;
}
.articlelist_item{
    margin-top:20px;
    margin-bottom:50px;
    background:#FFF;
    padding:10px;
    opacity:0.93;
    box-shadow: 1px 3px 5px #333;
    border-radius: 5px;
    transition: all 0.2s;
}
.articlelist_item:hover{
    opacity: 1;
    box-shadow: 1px 3px 15px #555;

}
.pageselector_item{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    font-weight: 900;
    border: 1px solid #555;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color:inherit;
    margin:10px;
    background: #a0a0c5;
}
.pageselector_item:hover{
    background: #a6a6ce;
}

.pageselector{
    display:flex;
    justify-content: center;
    color:#FFF;
    margin-top:30px;
}
.articlelist_item_category{
    padding-left: 5px;
    padding-right: 5px;
    color:#222271;
}
.articlelist_item_createdTime{
    color:#43631f;
}
.articlelist_item_timecost{
    color:purple;
}

.articlelist_item_icon_holder{
    display:flex;
    align-items: center;
    margin-right:10px;
}
.articlelist_item_icon{
    padding-right:3px;
}

@media screen and (max-width:800px){
    .articlelist_item_title{
        font-size: 30px;
    }
    .articlelist{
        padding-top:10px;
    }
    .articlelist_item{
        margin-bottom:0px;
        border-radius:0px;
        opacity:0.9;
    }
    .articlelist_middlearea{
        padding: 0px;
    }
    .pageselector_item:hover{
        background: #EEE;
    }
    .pageselector{
        color:#555;
    }
    .pageselector_item{
        border:0;
        background: #DDD;
    }
    .articlelist_item_top{
        padding-left:10px;
        padding-right:10px;
    }
    .articlelist_item_shortbody{
        padding-top: 3px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 5px;
        margin-left: 12px;
        margin-right: 12px;
        font-size: 14px;
    }
    .articlelist_item_category{
        padding-left: 0px;
        padding-right: 0px;
    }
    .articlelist_item_id{
        display:none;
    }
    .articlelist_container::-webkit-scrollbar{
        display:none;
    }
  }