.links_gohome{
    display: block;
    text-align: center;
    color:#CCC;
    text-decoration: none;
}
.links_gohome:active{
    color:#CCC;
}
.links{
    padding-top:50px;
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    height:100%;
    overflow-y:auto;
    margin-top:30px;
}
.links_middlearea{
    max-width:1000px;
    height:100%;
}
.links_link{
    display: flex;
    flex-direction: row;
    padding:10px;
    background: #FFF;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 1px #FFF;
    width:350px;
    height:100px;
    transition: all 0.2s;
    margin: 10px;
    align-items: center;
}
.links_link_hidden{
    opacity: 0;
}
.links_link:hover{
    background: #EEE;
}
.links_link:active{
    background: #DDD;
    box-shadow: 2px 2px 1px #DDD;
}
.links_link_avatar_container{
    width:100px;
    height:100px;
    flex-shrink: 0;
}
.links_link_avatar{
    height:100%;
    width:100%;
    border-radius: 50%;
}
.links_link_body{
    padding:5px 10px;
}
.links_link_name{
    font-size:34px;
    height:54px;
    overflow:hidden;
    color:brown;
}
.links_link_description{
    font-size: 14px;
    color:#555;
}
.links_container{
    height:100%;
}

@media screen and (max-width:800px) {
    .links_link_name{
        font-size:26px;
        height:45px;
    }
    .links_link_avatar_container{
        width:80px;
        height:80px;
    }
    .links_link{
        height:80px;
        width:300px;

    }
}